/* Box Sizing calcula automaticamente el tamaño de una caja */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 500px;
    border: 10px solid salmon;
    padding: 20px 35px;
}