* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aqua;
}

aside {
  background-color: beige;
}

section,
main {
  background-color: cadetblue;
}

footer {
  background-color: blueviolet;
}

header * {
  display: inline-block;
}

.nav {
  position: absolute;
  right: 10px;
}

header {
  height: 30px;
}

main > aside,
main > section {
  display: inline-block;
}

aside > p {
  background-color: red;
  width: 100px;
  height: 30px;
  margin: 50px 100px;
}

section > p {
  display: inline-block;
}

section {
  width: 630px;
}

footer * {
  padding: 5px 0;
  display: inline-block;
}

.footer li {
  background-color: aliceblue;
}

.footer {
  position: relative;
  left: 45%;
}
