:root {
  --color: greenyellow;
  --font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main > div > p {
  background-color: var(--color);
  font-size: var(--font-size);
}
